[Unit]
Description=Update systemd boot snapshots
DefaultDependencies=no
Before=shutdown.target sleep.target

[Service]
Type=oneshot
ExecStart=update-systemd-boot-snapshots

[Install]
WantedBy=shutdown.target
WantedBy=sleep.target
